
<div class="forms">
  <%= render 'bookmarks/form' %>
</div>
  <div class="login-form">

  <div class="bookmark-list">
  <div class="each-bookmark">
    <% @bookmarks.each do |bookmark| %>

      <p>Posted by: <%= bookmark.user.first_Name %></p>
      <p><a href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a></p>

    <p><a href="<%= bookmark.url %>" target="_blank"><img src="<%= bookmark.image %>"></a></p>
      <p><%= bookmark.summary %></p>
    <% end %>
    </div>
  </div>
</div>
