
  <%= render 'bookmarks/form' %>

<div class="login-form">

<div class="bookmark-list">
  <% @bookmarks.each do |bookmark| %>
    <!-- <p><%= bookmark.url %></p> -->
    <p><a href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a></p>

  <p><a href="<%= bookmark.url %>" target="_blank"><img src="<%= bookmark.image %>"></a></p>
    <p><%= bookmark.summary %></p>
  <% end %>
</div>