
<div class="container">
  <%= render 'bookmarks/form' %>
</div>


  <% @bookmarks.each do |bookmark| %>
<a href="<%= bookmark.url %>" target="_blank">
<div class="row center-align">
<div class="col s12 m7">
<div class="card">
<div class="card-image">
  <img src="<%= bookmark.image %>">
  <span class="card-title #000000 black"><%= bookmark.title %></span>
</div>
<div class="card-content">
  <p><%= bookmark.summary %></p>
</div>
<div class="card-action">
  <a href="<%= bookmark.url %>" target="_blank">Posted by: <%= bookmark.user.first_Name %></a>
</div>
</div>

</div><% end %>
</div>
</div>
</div>