
<%= form_for [@list, Bookmark.new] do |f| %>

<div class="input-field">
  <%= f.label :Add_A_Link %><br>
  <%= f.text_field :url %>
</div>

<div class="input-field">
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>

<div class="field">
  <%= f.submit "Sauce It!" %>
</div>

<% end %>
