
<div class="bookmark-form">
  <%= form_for ([@list, Bookmark.new]) do |f| %>

    <div class ="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>

    <div class ="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

</div>

<% @bookmarkslatest.each do |latest| %>

<%= bookmarkslatest.name %>

<% end %>



<div class="bookmark-list">
  <% @bookmarks.each do |bookmark| %>
    <!-- <p><%= bookmark.url %></p> -->
    <p><a href="<%= bookmark.url %>" target="_blank"><%= bookmark.title %></a></p>

  <p><a href="<%= bookmark.url %>" target="_blank"><img src="<%= bookmark.image %>"></a></p>
    <p><%= bookmark.summary %></p>

  <% end %>
</div>

