<!DOCTYPE html>
<html>
<head>
  <title>Linkshare2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100italic,300,300italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<nav>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Sauce</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>  <% if current_user %>
      Signed in as <%= current_user.first_Name %><br>
      <%= link_to "Log Out", logout_path, :method => :delete %>
      <% else %>
      <%= link_to "Log in", new_session_path %> or <%= link_to "Sign Up", new_user_path %>
      <% end %></li>
      </ul>
    </div>
  </nav>

<!-- <div class="sauce-title">Sauce!</div> -->
  <!-- <p class="userinfo"> -->
<!--  -->
</nav>
<body>
   <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>
<%= yield %>


</body>
</html>
