<!DOCTYPE html>
<html>
<head>
  <title>Linkshare2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav>
<div class="sauce-title">Sauce!</div>
  <p class="userinfo">
    <% if current_user %>
      Signed in as <%= current_user.first_Name %> //
      <%= link_to "Log Out", logout_path, :method => :delete %>
      <% else %>
      <%= link_to "Log in", new_session_path %> or <%= link_to "Sign Up", new_user_path %>
      <% end %>
  </p>
</nav>
<body>
   <% if flash[:notice] %>
      <p id="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p id="alert"><%= flash[:alert] %></p>
    <% end %>
<%= yield %>


</body>
</html>
